.app-title {
    border: 1px solid red;
    border-radius: 10px;
    padding: 1rem;
    margin: 1rem 6rem;
}

.input-url {
    display: flex;
    flex-direction: column;
    padding: 1rem;
}

.label-text {
    font-size: 20px;
}

.input-url input {
    line-height: 22px;
    font-size: 20px
}

.input-time {
    display: flex;
    flex-direction: row;
}

.buttons {
    display: flex;
    margin: 1rem;
    justify-content: center;
    border: 1px solid yellowgreen
}
